body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: column;
    margin:0px 5px 0px 5px;
    min-width: 200px;

}

header {
  background-color: #234145;
  color: #e5a959;
  max-width: 100%;
  margin:0px 0px 10px 0px;
  padding: 5px 10px;
}

footer {
  display :flex;
  color:#234145;
  background-color: #ecdcdb;
  
  max-width: 100%;

  margin:10px 0 0px 0px;
  padding: 10px 10px;

  justify-content: space-between;
  
}

h1{
  padding-left: 20px;
}

/* The button ----------------------------------------------------*/

#btn-reset {
  font-size: large;
  background-color: #234145;
  color: #ecdcdb;
  padding: 15px;
  margin-right:10px;
}

#btn-reset:hover {
  background-color: #234145;
  color: #e5a959;
}

#btn-reset:active {
  color: #234145;
  background-color: #ecdcdb;
}

/* The Board ----------------------------------------------------*/

.my-div{
  background-color: #234145;
  display:flex;
  justify-content: center;
  
}

#the-board {
  width:100%;
  align-items: center;

  background: gold;
}

.lignes {
  display:flex;
  width:100%;
}

.carreau{
  width:100%;
  height: 0px;
  padding-bottom: 12.5%;
  text-align: center;
  line-height: 12vw;
  font-size: 8vw;
}

.dark {
  background-color: #ecdcdb;
}

.clear {
  background-color: white;
}

/* Pieces and selected cases ----------------------------------------------------*/

.w.is-selected {
  background-color: #234145;
}
.w {
  color: #e5a959;
}


.b {
  color: #234145;
}
.b.is-selected {
  background-color: #e5a959;
}


@media (min-width: 500px) {
  .carreau {
  width:61.25px;
  height: 0px;
  padding-bottom: 61.25px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
   
  }
  
  .lignes,#the-board{
    width:fit-content;
  }


  @media(max-width: 500px){

  }
}

