/* Display improvements
- Allow board to adapt to the size of the screen
- Adapt the size of the icons
- Hover over the cases
- Change the aqua blue
- Improve display when stalemate (and other win conditions)
- Improve coach's text
- Add animations : with animista for example
*/



body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}
.carreau {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 50px;
  justify-content: center;
  font-size: xx-large;
  margin: 0px;
}

.dark {
  background-color: #ecdcdb;
}

.clear {
  background-color: white;
}

.lignes {
  display: flex;
}

.is-selected {
  background-color: aqua;
}
.w {
  color: #e5a959;
}


.b {
  color: #234145;
}

#the-board {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 10px;
  max-width: 500px;
  min-width: 235px;
}

#btn-reset {
  font-size: large;
  background-color: #234145;
  color: #ecdcdb;
  padding: 15px;
  margin : 5px
}

#btn-reset:hover {
  background-color: #234145;
  color: #e5a959;
}

#btn-reset:active {
  color: #234145;
  background-color: #ecdcdb;
}

header {
  padding: 5px;
  background-color: #234145;
  color: #e5a959;
  max-width: 500px;
  min-width: 235px;
}

footer {
  display :flex;
  color:#234145;
  background-color: #ecdcdb;
  padding: 5px;
  max-width: 500px;
  min-width: 235px;
}
